/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
  height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header {
  width: 100%;
  display: block;
  h1 {
  font-size: 40px;
  margin: 20px;
}
}


.contents {
  width: 100%;
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 12px;
  }
  p{
    font-size: 16px;
  }
  li {
    font-size: 16px;
    margin-bottom: 12px;
  }
}

.containerIndex {
  // width: 100%;
  height: 100%;
  background: linear-gradient( 270deg, rgb(255, 255, 254), rgba(253, 253, 253, 0)), url('/images/Toronto_bg.jpg');
  display: flex;
  background-size: cover;
  background-position: 80% 20%;
  align-items: center;

  .btn {
    width: 160px;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    text-align:center;
    padding:8px 0 10px;
    color:rgb(236, 229, 229);
    background: rgba(173,80,90,0.95);
  }
  .header {
    width: 100%;
  }
  h1 {
    text-align: center;
  }
  .contents {
    margin: 10px;
  }
  .contents .link ul{
    list-style: none;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .contents .link li {
    margin: 20px;
    font-size: 18px;
  }
  .info {
    width: 95%;
    background: rgba(235,51,79,0.5);
    padding: 10px;
    p{
    font-size: 20px;
    text-align: center;    
    line-height: 1.2;
    }
  } 
}

.containerAbout {
  display: flex;
  background: linear-gradient( 90deg, rgb(255, 255, 254), rgba(253, 253, 253, 0)), url('/images/toronto.jpg');
  background-size: cover;
  background-position: 50% 20%;
  flex-direction: column;
  padding: 20px;
}

.containerAbout .contents {
  text-align: center;
  background: rgba(37,92,109,0.45);
  padding-top: 30px;
  padding-bottom: 30px;
  .profile {
    width: 80%;
    background: rgba(188,212,219,0.8);
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 20px;
    display: inline-block;
    flex-direction: row;
    align-items: flex-start;
  }
  .item {
  width: 33%;
  display: inline-block;
  margin-bottom: 20px;
  } 

  .img {
    width: 40%;
    display: inline-block;
    img {
      width: 120px;
      height: 160px;
    }
  }

  .text {
    width: 80%;
    background: rgba(188,212,219,0.8);
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    h2 {
      font-size: 32px;
      margin-bottom: 20px;
    }
  }
}
.containerSkill {
  background: linear-gradient( 90deg, rgb(255, 255, 254), rgba(253, 253, 253, 0)), url('/images/skills.jpg');
  background-size: cover;
}

.containerSkill .contents{
  display: flex;
  flex-direction: row;
}

.containerSkill .item1{
  width:  100%;
  margin: 40px;
  background: rgba(51,51,51,0.6);
  a {
    margin: 10px;
  }
  p {
    margin: 10px;
  }
  img {
    width: 45%;
    margin: 10px;
    display: inline;
  }
}


.containerSkill .item2{
  width: 35%;
  margin: 40px;
  background: rgba(51,51,51,0.6);
  h2 {
    margin: 10px;
  }
  h3 {
    margin: 10px;
  }
  p {
    font-size: 20px;
    margin: 15px;
  }
  ul {
    margin: 10px;
  }
}

.containerSkill .item .body {
  width: 100%;
  display: inline-block;
  margin-right: 30px;
}

.containerCareer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient( 90deg, rgb(255, 255, 254), rgba(253, 253, 253, 0)), url('/images/career.jpg');
  background-size: cover;
  h2 {
    font-size: 30px;
    margin: 10px;
  }
  h3 {
    font-size: 25px;
    margin: 10px;
  }

  p{
    font-size: 18px;
    margin: 5px;
  }
}

.containerCareer .contents {
  margin: 10px;
  background: rgba(255,255,255,0.65);
  line-height: 1.2;
}

.containerCareer .contents.pr {
  width: 90%;
  letter-spacing: 2px;
}

.containerCareer .contents.edu {
  width: 48%;
  display: inline-block;
}

.containerCareer .contents.wexp {
  width: 48%;
  display: inline-block;
}

.containerContact {
  background: linear-gradient( 90deg, rgb(255, 255, 254), rgba(253, 253, 253, 0)), url('/images/contact.jpg');
  background-size: cover;
  height: 100%;
  .contact p {
    text-align: center;
    font-size: 24px;
    margin: 30px;
  }

  .sns ul {
    list-style: none;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
  }
  .sns img {
    width: 50px;
    margin: 30px;
    height: auto;
  }
  .sns p {
    margin-left: 25px;
  }
}
