body {
  background-color: #e9dfdf;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

div {
  color: #160202
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}

.header h1{
  float: left;
}

.info {
  font-size: 24px;
  
}

.contents ul{
  flex-direction: row;
  justify-content: center;
}

.contents li{
  list-style: none;
  margin: 10px;
  padding: 0;
}
