/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  height: 100%;
}

body {
  line-height: 1;
  height: 100%;
  font-family: arial;
  background: url('/images/hello.jpg');
  background-position: 80% 20%;
  background-size: cover;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.topHeader {
  height: 50px;
  background: #1D110C;
  display: flex;
  align-content: center;
}

.topFooter {
  height: 50px;
  background: #1D110C;
}

.btn {
  width: 160px;
  font-size: 22px;
  font-family: arial;
  text-decoration: none;
  margin-right: 20px;
  display: inline-block;
  text-align: center;
  padding:8px 0 10px;
  color:rgb(236, 229, 229);
  background: rgba(154, 93, 58, 0.6);
}


.header {
  width: 100%;
  display: block;
  h1 {
  color: rgba(246,246,246,0.8);
  font-size: 40px;
  margin: 20px;
}
}


.contents {
  width: 100%;
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 12px;
  }
  p{
    font-size: 16px;
  }
  li {
    font-size: 16px;
    margin-bottom: 12px;
  }
}

.containerIndex {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center; 
  .containerIndex .header {
    width: 100%;
    height: 10rem;
    text-align: center;
    vertical-align: middle;
  }
  h1 {
    font-family: arial;
    color: #b9b6b5;
    font-size: 50px;
    vertical-align: middle;
  }
  .contentsTop {
    display: flex;
    flex-direction: column;
  }
  .btn.top{
    margin: 10px;
    background-color: #1D110C;
  }
}

.containerAbout {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.containerAbout .contents {
  text-align: center;
  background: rgba(43,26,16,0.6);
  padding-top: 30px;
  padding-bottom: 30px;
  .profile {
    width: 80%;
    background: rgba(255,255,255,0.65);
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 20px;
    display: inline-block;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    .img {
      display: inline-block;
      float: right;
      img {
        width: 250px;
        height: 300px;
      }
    }
  }
  .item {
  width: 33%;
  display: inline-block;
  margin-bottom: 20px;
  } 

  .text {
    width: 80%;
    background: rgba(255,255,255,0.65);
    padding: 10px;
    border-radius: 20px;
    line-height: 1.5;
    margin: auto;
    margin-bottom: 20px;
    text-align: left;
    h2 {
      font-size: 32px;
      margin-bottom: 20px;
    }
  }
}

.containerSkill .contents{
  display: flex;
  background-size: contain;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  h2 {
    margin: 10px;
  }
  img {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  .text {
    margin: 30px;
    display: inline-block;
    background: rgba(255,255,255,0.65);
    border-radius: 20px;
    overflow: hidden;
  }
  .item1{
    margin: 20px;
    width: 55%;
    background: rgba(43,26,16,0.6);
    text-align: left;
    overflow: hidden;
    display: inline-block;
    a, p {
      margin: 10px;
    }
  }
  
  .item2{
    margin: 20px;
    width: 35%;
    background: rgba(43,26,16,0.6);
    text-align: left;
    overflow: hidden;
    h3 {
      margin: 10px;
    }
    p {
      font-size: 20px;
      margin: 15px;
    }
    ul {
      margin: 10px;
    }
  }
}




.containerCareer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  h2 {
    font-size: 30px;
    margin: 10px;
  }
  h3 {
    font-size: 25px;
    margin: 10px;
  }

  p{
    font-size: 18px;
    margin: 5px;
  }
}

.containerCareer .contents {
  width: 100%;
  margin: 10px;
  line-height: 1.2;
  text-align: center;
  align-items: center;
  background: rgba(43,26,16,0.6);
  padding: 30px;
  h2.btn {
    width: 75%;
  }
}

.containerCareer .contents .pr {
  width: 100%;
  line-height: 1.5;
  background: rgba(255,255,255,0.65);
  border-radius: 20px;
  overflow: hidden;
  margin-top: 50px;
  text-align: left;
}

.containerCareer .contents .edu {
  width: 45%;
  display: inline-block;
  background: rgba(255,255,255,0.65);
  border-radius: 20px;
  float: right;
  text-align: left;
  h3 {
    font-size: 24px;
  }
}

.containerCareer .contents .wexp {
  width: 45%;
  display: inline-block;
  background: rgba(255,255,255,0.65);
  border-radius: 20px;
  margin-left: -112px;
  text-align: left;
}

.containerContact {
  height: 100%;
  overflow: hidden;
  .contents {
    margin-top: 10%;
    background: rgba(43,26,16,0.6);
    display: flex;
    align-items: center;
    text-align: center;
    .contact {
      background: rgba(255,255,255,0.65);
      border-radius: 20px;
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      p {
        text-align: center;
        font-size: 24px;
        margin: 30px;
      }
      ul {
        list-style: none;
        margin-bottom: 24px;
        display: flex;
        justify-content: center;
      }
      img {
        width: 50px;
        margin: 30px;
        height: auto;
      }
    }
  }
}

@media (max-width: 767px) {
  .topHeader {
    display:none;
  }
  
  .topFooter {
    display: none;
  }
  .containerIndex {
    background: linear-gradient( 90deg, rgba(118, 115, 115, 0.65), rgba(253, 253, 253, 0)), url('/images/hello.jpg');
    background-size: cover;
    background-position: 50% 50%;
    display: block;
    text-align: center;
}
  .containerIndex .contentsTop{
    align-items: center;
    margin-top: 50%;
  }

  .containerAbout {
    width: 100%;
    background-position: 50% 50%;
  }
  .containerAbout .contents {
    margin: 0;
    h3 {
      font-size: 14px;
    }
    p,li {
    font-size: 12px;
    }
  }
  .containerSkill {
    width: 100%;
    background-position: 50% 50%;
  }
  .containerSkill .contents{ 
    display: block;
    width: 100%;
    .item1 {
      width: 100%;
      margin: 0;
      padding: 10px;
    }
    .item2 {
      width: 100%;
      margin: 0;
      margin-top: 10%;
      padding: 10px;
    }
  }
  .containerCareer .contents {
    display: block;
    width: 100%;
    font-size: 12px;
  }
  
  .containerCareer .contents .edu {
    width: 100%;
    display: block;
    float: none;
  }
  
  .containerCareer .contents .wexp {
    width: 100%;
    display: block;
    margin-left: 0;
  }
  .containerContact .contents {
    background-position: 50% 50%;
    .contact {
      margin-top: 50%;
      p {
        font-size: 18px;
      }
    }
    li {
      padding: auto;
      width: 50px;
      margin: auto;
      }
    .contact img {
      margin: 0;
    }
  }
}