/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header {
  width: 20%;
  display: block;
  h1 {
  font-size: 40px;
  margin: 20px;
}
}

.contents {
  width: 100%;
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 12px;
  }
  p{
    font-size: 16px;
  }
  li {
    font-size: 16px;
    margin-bottom: 12px;
  }
}

.info {
  font-size: 24px;
  
}

.containerAbout {
  display: flex;
  height: 100%;
  background: linear-gradient( 90deg, rgb(255, 255, 254), rgba(253, 253, 253, 0)), url('/images/toronto.jpg');
  background-size: contain;
  flex-direction: column;
  padding: 20px;
}

.profile {
  width: 50%;
  margin: 20px;
  display: inline-block;
  flex-direction: row;
  align-items: flex-start;
  
}
.containerAbout .item {
  width: 33%;
  display: inline-block;
  margin-bottom: 20px;
}

.img {
  width: 40%;
  display: inline-block;
  img {
    width: 120px;
    height: 160px;
  }
}

.text {
  width: 50%;
  margin: 20px;
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
}

.containerSkill {
  background: linear-gradient( 90deg, rgb(255, 255, 254), rgba(253, 253, 253, 0)), url('/images/skills.jpg');
  background-size: 100%;
}

.containerSkill .contents{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.containerSkill .item{
  h2 {
    margin: 10px;
  }
  h3 {
    margin: 10px;
  }
  p {
    font-size: 20px;
    margin: 15px;
  }
  ul {
    margin: 10px;
  }
  img {
    float: right;
  }
}

.containerSkill .item .body {
  width: 50%;
  display: inline-block;
  margin-right: 30px;
}

.containerSkill .item .image {
  width: 30%;
  display: inline-block;
  float: right;
}

.containerCareer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient( 90deg, rgb(255, 255, 254), rgba(253, 253, 253, 0)), url('/images/career.jpg');
  background-size: 100%;
  h2 {
    font-size: 30px;
    margin: 10px;
  }
  h3 {
    font-size: 25px;
    margin: 10px;
  }

  p{
    font-size: 18px;
    margin: 5px;
  }
}

.containerCareer .contents {
  margin: 10px;
}

.containerCareer .contents.pr {
  width: 100%;

}

.containerCareer .contents.edu {
  width: 45%;
  display: inline-block;
}

.containerCareer .contents.wexp {
  width: 45%;
  display: inline-block;
}


