.containerAbout
  .header
    %h1
      ABOUT
  .contents
    .profile
      %h2
        PROFILE
      .item
        %h3
          Name
        %p=data.abouts[0][:name]
      .item
        %h3
          Gender
        %p=data.abouts[0][:gender]
      .item
        %h3
          Born in
        %p=data.abouts[0][:born]
      .item
        %h3
          Based at
        %p=data.abouts[0][:live]
      -# .img
      -#   =image_tag '/images/profile.jpg'
      %h3
        Hobbies
      -data.abouts[0][:hobbies].each do |hobbie|
        -hobbie.to_a.each do |k, v|
          %ul
            %li="#{k}: #{v}"
    .text
      %h2="HISTORY"
      %p=data.abouts[0][:history]
    .text
      %h2="AMBITION"
      %p=data.abouts[0][:ambition]

