.header
  %h1
    About Me
.contents
  .profile
    %h2="Profile"
    %ul
      %li="Name: Mitsuki Ooka"
      %li="Gender: Man"
      %li="Born in: September 1993"
      %li="Based on: Tokyo"
      %li="Hobbies: Music, Movies, Sports, Drinking"
  .history
    %h2="History"
    %p="略歴"
  .ambition
    %h2="Ambition"
    %p="bbbbbb"
-# .img

