.containerAbout
  .header
    %h1
      About Me
  .contents
    -about = data.abouts[0]
    .profile
      %h2
        Profile
      .item
        %h3
          Name
        %p=about[:name]
      .item
        %h3
          Gender
        %p=about[:gender]
      .item
        %h3
          Born in
        %p=about[:born]
      .item
        %h3
          Based at
        %p=about[:live]
      %h3
        Hobbies
      -about[:hobbies].each do |hobbie|
        -hobbie.to_a.each do |k, v|
          %ul
            %li="#{k}: #{v}"
    .text
      %h2="History"
      %p=about[:history]
    .text
      %h2="Ambition"
      %p=about[:ambition]

      -# .img
      -#   =image_tag '/images/profile.jpg'
