#scene-2.scene
  %img.scene-bg{:alt => "", :height => "", :src => "/images/bg-3.jpg", :style => "min-width:100%;min-height:100%;width:auto;height:auto;", :width => ""}/
  #scene-2-content
    .charts.clearfix
      #water.chart
        .circle-mask-outer.left
          .circle-mask-inner
            .circle-body
        .circle-mask-outer.right
          .circle-mask-inner
            .circle-body
        .chart-content
          %img.icon{:alt => "Water", :src => "/images/graphic-water.png"}/
          %p.text
            %span.percent-number 60
            %span.percent-symbol %
      / /.chart
      #sunshine.chart
        .circle-mask-outer.left
          .circle-mask-inner
            .circle-body
        .circle-mask-outer.right
          .circle-mask-inner
            .circle-body
        .chart-content
          %img.icon{:alt => "Sunshine", :src => "/images/graphic-sun.png"}/
          %p.text
            %span.percent-number 90
            %span.percent-symbol %
      / /.chart
      #birds.chart
        .circle-mask-outer.left
          .circle-mask-inner
            .circle-body
        .circle-mask-outer.right
          .circle-mask-inner
            .circle-body
        .chart-content
          %img.icon{:alt => "Birds", :src => "/images/graphic-bird.png"}/
          %p.text
            %span.percent-number 20
            %span.percent-symbol %
      / /.chart
      #woods.chart
        .circle-mask-outer.left
          .circle-mask-inner
            .circle-body
        .circle-mask-outer.right
          .circle-mask-inner
            .circle-body
        .chart-content
          %img.icon{:alt => "Woods", :src => "/images/graphic-woods.png"}/
          %p.text
            %span.percent-number 45
            %span.percent-symbol %
      / /.chart
  / /#scene-2-content
/ /.scene#scene-2