.containerCareer
  .header
    %h1
      CAREER
  .contents
    .wexp
      %h2.btn="EDUCATION"
      -data.educations.each do |education|
        %h3=education[:name]
        %p="#{education[:period]}/ #{education[:degree]}"
        %p=education[:major]
      %h2.btn="WORK EXPERIENCE"
      -data.exp_companies.each do |exp_company|
        %h3=exp_company[:name]
        %p="#{exp_company[:period]}/ #{exp_company[:role]}"
        %p=exp_company[:job]
    .edu
      %h2.btn="ACTIVITIES"
      -data.activities.each do |activity|
        %h3=activity[:name]
        %p=activity[:period]
        %p=activity[:content]
    .pr
      %h2.btn="SELF PR"
      %p="　私が学生時代から現在まで、誇れる力は二つあります。一つはコミュニケーション能力です。私はアプリの維持管理業務のなかで「相手がどうしたら理解してくれるか」を考えてきました。<br>自分では毎日の業務を通して、理解できるようになった簡単なエラーでも、お客様にとっては全く未知のものになります。そんな時でも、常に自分が入社した頃の事を思い出し身近な具体例を取り入れながら、分かりやすく説明できるよう心掛けてきました。<br>　一方、企画業務では実際に開発を行うベンダー会社に対して、こちらのイメージ通りに動くようにかなり細かい部分まで説明していく必要がありました。相手に合わせて何をどう伝えていくかを試行錯誤した結果、一番伝えたい事を把握し、相手のレベルに合わせて説明するコミュニケーション能力が身につきました。<br>　もう一つは学習意欲です。私は自分の能力を高める事には常に貪欲でいるようにしてきました。学生時代にはとにかく英語をマスターすることに集中しました。週６コマの英語の授業時間以外にも、常に英語に触れる時間を作るように意識しました。<br>　趣味の映画や音楽を利用しながら英語を勉強したり、学部内の留学生たちにも積極的に話かけていましまた。また志同じくする日本人の友人たちとは英語で会話したりと、とにかくインプットとアウトプットを毎日していました。<br>　さらに2回の留学経験を経て、現地の友人から「君の英語は日本のアクセントがない」と褒められるレベルまで達することが出来ました。さらにトロントでのワーキングホリデー中には自分の英語力を社会に還元したいと思い、TESOL（英語教授法）の勉強をしました。<br>　その後のコロナ禍のなかでも時間を無駄にしないようにプログラミングスクールに１ヶ月間通い、Ruby on Railsを学習しました。<br>　必ず自分のものにするようにと勉強を続けた結果、そのプログラミングスクールからインターンシップのお話を頂き、現在ではRuby on railsを使用したプロジェクトの改修業務を行っております。<br>　以上の二つが私の大きな強みであると考えています。"
