.containerCareer
  .header
    %h1
      Career
  .contents.pr
    %h2="Self introduction"
    %p=data.abouts[0][:self_pr]
  .contents.edu
    %h2="Education"
    -data.educations.each do |education|
      %h3=education[:name]
      %p=education[:period]
      =education[:degree]
      =education[:major]
    %h2="Ativities"
    -data.activities.each do |activity|
      %h3=activity[:name]
      =activity[:period]
      %p=activity[:content]
  .contents.wexp
    %h2="Work Experiences"
    -data.exp_companies.each do |exp_company|
      %h3=exp_company[:name]
      =exp_company[:period]
      =exp_company[:role]
      %p=exp_company[:job]
=link_to "Go Back", '/mickey/index.html'