.header
  %h1="Carrier"
.contents
  %h2="Self introduction"
  %p
.contents
  %h2="Education"
  %ul
    %li="Meiji University Global Japanese Studies April 2013 to March 2017"
    %li="Seijo High School April 2009 to December 2010"
  %h2="Ativities"
  %ul
    %li="Working Holiday in Toronto TESOL certification August 2019 to June 2020"
    %li="University of Alabama Exchange Study Abroad August 2015 to January 2016"
    %li="University of Toronto English Learning Program August 2014"
.contents
  %h2="Work Experiences"
  %ul
    %li="Info Athlete July 2020 currently working"
    %li="Keyence Canada November 2019 to March 2020"
    %li="San-ei Travel February 2019 to July 2019"
    %li="Axess International Network April 2017 to December 2018"
  