.containerContact
  .header
    %h1
      CONTACT
  .contents
    .contact
      %p="EMAIL: mooka0907@gmail.com"
      %p="PHONE: 090-5813-8809"
    .sns
      %ul
        %li
          %p="GIT HUB"
          %a{:href => "https://github.com/Mitsukiooka", :target => "_blank"}
            %img{:alt => "Git Hub", :src => "/images/github.png"}/
        %li
          %p="FACEBOOK"
          %a{:href => "https://www.facebook.com/mitsuki.ooka", :target => "_blank"}
            %img{:alt => "Facebook", :src => "/images/facebook.png"}/
        %li
          %p="TWITTER"
          %a{:href => "https://twitter.com/Mickey249921811", :rel => "external", :target => "_blank"}
            %img{:alt => "Twitter", :src => "/images/twitter.png"}/
        %li
          %p="INSTAGRAM"
          %a{:href => "https://www.instagram.com/mickeyminjuuune/?hl=ja", :target => "_blank"}
            %img{:alt => "Instagram", :src => "/images/instagram.png"}/

