%h1
  Mitsuki Ooka
  %ul
    %li=link_to "Git Hub"
    %li=link_to "Facebook"
    %li=link_to "LINE"
    %li=link_to "Twitter"
  -# Mitsuki Ooka is a web engineer based on Tokyo.
  -# %br
  -# My primary language is Ruby. I have been working as a engineer for 3 months!
  -# %br
  -# Mitsuki Ooka is English speaker.
  -# %br
  -# My TOEFL iBT score is 88. Obtained on July 2019. I had been to Toronto for almost year!
