.containerContact
  .header
    %h1
      Contact
  .contact
    %p="Email: mooka0907@gmail.com"
    %p="Phone: 090-5813-8809"
  .sns
    %ul
      %li
        %p="Git Hub"
        %a{:href => "https://github.com/Mitsukiooka", :target => "_blank"}
          %img{:alt => "Git Hub", :src => "/images/GitHub.png"}/
      %li
        %p="Facebook"
        %a{:href => "https://www.facebook.com/mitsuki.ooka", :target => "_blank"}
          %img{:alt => "Facebook", :src => "/images/Facebook.png"}/
      %li
        %p="Twitter"
        %a{:href => "https://twitter.com/Mickey249921811", :rel => "external", :target => "_blank"}
          %img{:alt => "Twitter", :src => "/images/Twitter.png"}/
      %li
        %p="Instagram"
        %a{:href => "https://www.instagram.com/mickeyminjuuune/?hl=ja", :target => "_blank"}
          %img{:alt => "Instagram", :src => "/images/instagram.png"}/

