.header
  %h1
    My Skills
.contents
  %h2="Language"
  %p="Ruby"
  %h2="Flamework"
  %p="Ruby On Rails"
  %h2="Tools"
  %ul
    %li="GitHub"
    %li="Visual Code"
    %li="Slack"
.contents
  %h2="My Works"
  %ul
    %li=link_to "Movie log", "https://movielog-mickey.herokuapp.com/"
    %li=link_to "Music log", "https://movielog-mickey.herokuapp.com/"
    %li=link_to "English Training", "https://movielog-mickey.herokuapp.com/"
  .img

