=link_to "Home", '/index.html'
=link_to "About Me", '/mickey/about.html'
=link_to "My Skills", '/mickey/skill.html'
=link_to "My career", '/mickey/career.html'
=link_to "My Contact", '/mickey/contact.html'