.header
  %h1
    Mitsuki Ooka
.contents
  %ul
    %li=link_to "About Me", '/mickey/about.html'
    %li=link_to "My Skills", '/mickey/skill.html'
    %li=link_to "My career", '/mickey/career.html'
    %li=link_to "My Contact", '/mickey/contact.html'
.info
  %br
  Mitsuki Ooka is a web engineer based on Tokyo.
  %br
  My primary language is Ruby. I have been working as a engineer for 3 months!
  %br
  Mitsuki Ooka is English speaker.
  %br
  My TOEFL iBT score is 88. Obtained on July 2019. I had been to Toronto for almost year!
