.containerIndex
  .header
    %h1
      MITSUKI OOKA
  .contentsTop
    =link_to "ABOUT", '/mickey/about.html', class: 'btn'
    =link_to "SKILLS", '/mickey/skill.html', class: 'btn'
    =link_to "CAREER", '/mickey/career.html', class: 'btn'
    =link_to "CONTACT", '/mickey/contact.html', class: 'btn'
