.containerIndex
  .header
    %h1
      Mitsuki Ooka
  .contents
    .info
      %p=data.abouts[0][:intro]
    .link
      %ul
        %li=link_to "About Me", '/mickey/about.html', class: 'btn'
        %li=link_to "My Skills", '/mickey/skill.html', class: 'btn'
        %li=link_to "My Career", '/mickey/career.html', class: 'btn'
        %li=link_to "My Contact", '/mickey/contact.html', class: 'btn'